body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #007bff;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.blueTitle {
  background-color: blue; 
  color: white;           
}

.highlightRow {
  background-color: #99ccff; 
  color: #003366;            
  font-weight: bold;         
  font-size: 18px;           
}

.songLink {
  color: #0033cc; 
  text-decoration: none; 
  font-weight: bold;
}

.songLink:hover {
  color: #00ccff; 
  text-decoration: underline;
}

